<html>
<head>
<title>HackScraper API</title>
</head>
<body>
	<h1>The HackScraper API</h1>
	<p>Featuring a really ugly website...</p>
	<h4>Things that this API does:</h4>
	<ul>
		<li>scrapes devpost.org for a list of hackathons</li>
		<li>dumps some basic info about those hackathons to a JSON file</li>
	</ul>
	<h4>Wow that sounds so useful! How do I use it?</h4>
	<p>Oh, that's simple. Just <a href="/api">click here</a> to generate the JSON file.</p>
	<h4>How can I contribute to such a useful api?</h4>
	<p>Come check us out on <a href="https://github.com/Metruption/hackathonscraper">GitHub</a>!</p>
	<p>If your pull request includes a better looking website then I will almost certainly accept it!</p>
</body>
</html>
